<mat-card style="max-height: 900px; overflow-y: auto" class="matcard">
  <div style="height: 100%; overflow-y: auto" class="allFilters">
    <mat-card-title  class="searchfilter" style="color: #0c4471;">
  
      <div style="display: inline-flex; flex-direction: row; margin-left: 50px;"  >
        <span *ngIf="getAppliedFiltersCount() > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
          {{ getAppliedFiltersCount() }} <a  (click)="removeAllFilters()">×</a>
        </span>
      </div>
      
    </mat-card-title>
   
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <!-- <div style="display: inline-flex; flex-direction: row;">
          <span *ngIf="includeFirstName.length > 0" 
            style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
           {{ includeFirstName.length }} <a  (click)="removeAllinclude_First_Name()">×</a>
          </span>
        </div> -->
        <mat-panel-title>Name</mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; align-items: center">
        <mat-form-field style="flex: 1">
          <input
            matInput
            placeholder="Ex. name"
            [(ngModel)]="filters.include_First_Name"
            name="include_First_Name"
            (ngModelChange)="applyFilter()"
          />
        </mat-form-field>
        
      </div>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Last Name</mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; align-items: center">
        <mat-form-field style="flex: 1">
          <input
            matInput
            placeholder="Ex. last name"
            [(ngModel)]="filters.include_last_name"
            name="include_last_name"
            (keyup.enter)="applyFilter()"
          />
        </mat-form-field>
      </div>
    </mat-expansion-panel> -->

    <mat-expansion-panel>
      
      <mat-expansion-panel-header>
        <div style="display: inline-flex; flex-direction: row;">
          <span *ngIf="includeCompanyName.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
           {{ includeCompanyName.length }} <a  (click)="removeAllCompanyNames()">×</a>
          </span>
        </div>
        <mat-panel-title>Company Name</mat-panel-title>
      </mat-expansion-panel-header>
      
      <div style="display: flex; align-items: center">
        <mat-form-field class="example-chip-list" style="flex: 1;">
          <mat-label>Company Name</mat-label>   
          <mat-chip-grid #CompanyNameChipGrid aria-label="Enter company name">
            <mat-chip-row *ngFor="let companyName of includeCompanyName" (removed)="removeCompanyName(companyName)">
              {{ companyName }}
              <button matChipRemove><b>×</b></button>
            </mat-chip-row>
            <div class="scrollable-input textarea">
              <input #input
              [matChipInputFor]="CompanyNameChipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              [matAutocomplete]="auto"
              (matChipInputTokenEnd)="addCompanyName($event.value)"
              (input)="filterSuggestions(input.value)">
            </div>
          </mat-chip-grid>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addCompanyNameFromAuto($event)">
            <mat-option *ngFor="let suggestion of filteredSuggestions" [value]="suggestion">
              {{ suggestion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      
      
      
      <!-- <div style="margin-bottom: 30px; margin-left: 20px;">Exclude Company Name
        <input type="checkbox" (click)="ifclick()"> </div>
      <mat-expansion-panel *ngIf="checked">
        <mat-expansion-panel-header>
          <div style="display: inline-flex; flex-direction: row;">
            <mat-panel-title>Exclude-Company Name</mat-panel-title>
            <span *ngIf="excludeCompanyName.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
             {{ excludeCompanyName.length }} <a  (click)="removeExcludeCompanyNames()">×</a>
            </span>
           
          </div>
        
        </mat-expansion-panel-header>
        <div style="display: flex; align-items: center">
          <mat-form-field class="example-chip-list">
            <mat-label>Company Name -exclude</mat-label>
            <mat-chip-grid #excludecompanyNameChipGrid aria-label="Enter country">
              <mat-chip-row *ngFor="let companyName of excludeCompanyName" (removed)="removeExcludeCompanyName(companyName)">
                {{ companyName }}
                <button matChipRemove><b>×</b></button>
              </mat-chip-row>
              <input #input1
              [matChipInputFor]="excludecompanyNameChipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes4"
              [matChipInputAddOnBlur]="addOnBlur"
              [matAutocomplete]="auto"
              (matChipInputTokenEnd)="addExcludeCompanyName($event.value)"
              (input)="filterexcludeCompanySuggestions(input.value)">
          
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addexcludeCompanyNameFromAuto($event)">
            <mat-option *ngFor="let suggestion of filteredexcludecompanySuggestions" [value]="suggestion">
              {{ suggestion }}
            </mat-option>
          </mat-autocomplete>
            </mat-chip-grid>
          </mat-form-field>
          
        </div>


        
      </mat-expansion-panel> -->
    
    
      <mat-expansion-panel  >
        <mat-expansion-panel-header>
          <div style="display: inline-flex; flex-direction: row;">
            <span *ngIf="includeCompanyDomain.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
             {{ includeCompanyDomain.length }} <a  (click)="removeAllCompanyDomain()">×</a>
            </span>
          </div>
          <mat-panel-title>Company Domain</mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; align-items: center">
           
    <mat-form-field class="example-chip-list">
      <mat-label>Company Domain</mat-label>
      <mat-chip-grid #CompanyDomainChipGrid aria-label="Enter job title">
        <mat-chip-row *ngFor="let companyDomain of includeCompanyDomain"
                      (removed)="removeCompanyDomain(companyDomain)">
          {{ companyDomain }}
          <button matChipRemove><b>×</b></button>
        </mat-chip-row>
        <input placeholder="Add Company Domain..."
               [matChipInputFor]="CompanyDomainChipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addCompanyDomain($event)">
      </mat-chip-grid>
    </mat-form-field>
        </div>
        <div style="margin-bottom: 30px; margin-left: 0px;">Exclude Company Domain
          <input type="checkbox"  (click)="ifclickk()">  </div>
      
        <mat-expansion-panel *ngIf="checkedd">
          <mat-expansion-panel-header>
            <div style="display: inline-flex; flex-direction: row;">
              <span *ngIf="excludeCompanyDomain.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
               {{ excludeCompanyDomain.length }} <a  (click)="removeExcludeCompanyDomainCount()">×</a>
              </span>
            </div>
            <mat-panel-title>Exclude-Company Domain</mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex; align-items: center">
            <mat-form-field style="flex: 1">
              <mat-chip-grid #excludeCompanyDomainChipGrid aria-label="Enter excluded company domain">
                <mat-chip-row *ngFor="let companyDomain of excludeCompanyDomain" (removed)="removeExcludeCompanyDomain(companyDomain)">
                  {{ companyDomain }}
                  <button matChipRemove><b>×</b></button>
                </mat-chip-row>
                <input placeholder="Add excluded company domain..."
                       [matChipInputFor]="excludeCompanyDomainChipGrid"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addExcludeCompanyDomain($event)">
              </mat-chip-grid>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    

  
    </mat-expansion-panel>

    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div style="display: inline-flex; flex-direction: row;">
          <span *ngIf="includeCompanyDomain.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
           {{ includeCompanyDomain.length }} <a  (click)="removeAllCompanyDomain()">×</a>
          </span>
        </div>
        <mat-panel-title>Company Domain</mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; align-items: center">
         
  <mat-form-field class="example-chip-list">
    <mat-label>Company Domain</mat-label>
    <mat-chip-grid #CompanyDomainChipGrid aria-label="Enter job title">
      <mat-chip-row *ngFor="let companyDomain of includeCompanyDomain"
                    (removed)="removeCompanyDomain(companyDomain)">
        {{ companyDomain }}
        <button matChipRemove><b>×</b></button>
      </mat-chip-row>
      <input placeholder="Add Company Domain..."
             [matChipInputFor]="CompanyDomainChipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addCompanyDomain($event)">
    </mat-chip-grid>
  </mat-form-field>
      </div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div style="display: inline-flex; flex-direction: row;">
            <span *ngIf="excludeCompanyDomain.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
             {{ excludeCompanyDomain.length }} <a  (click)="removeExcludeCompanyDomainCount()">×</a>
            </span>
          </div>
          <mat-panel-title>Exclude-Company Domain</mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; align-items: center">
          <mat-form-field style="flex: 1">
            <mat-chip-grid #excludeCompanyDomainChipGrid aria-label="Enter excluded company domain">
              <mat-chip-row *ngFor="let companyDomain of excludeCompanyDomain" (removed)="removeExcludeCompanyDomain(companyDomain)">
                {{ companyDomain }}
                <button matChipRemove><b>×</b></button>
              </mat-chip-row>
              <input placeholder="Add excluded company domain..."
                     [matChipInputFor]="excludeCompanyDomainChipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addExcludeCompanyDomain($event)">
            </mat-chip-grid>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
   -->

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Job Title</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div style="display: inline-flex; flex-direction: row;">
            <span *ngIf="includeJobTitles.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
             {{ includeJobTitles.length }} <a  (click)="removeincludeJobTitles()">×</a>
            </span>
          </div>
          <mat-panel-title>Job title</mat-panel-title>
        </mat-expansion-panel-header>
    

        <div style="display: flex; align-items: center"  >
          <mat-form-field class="example-chip-list">
            <mat-label>Job Title</mat-label>
            <mat-chip-grid #jobTitleChipGrid aria-label="Enter job title">
              <mat-chip-row *ngFor="let jobTitle of includeJobTitles"
                            (removed)="removeJobTitle(jobTitle)">
                {{ jobTitle }}
                <button matChipRemove><b>×</b></button>
              </mat-chip-row>
              <input #input4 placeholder="Add excluded job title..." class="excludeJobTitle"
       [matChipInputFor]="jobTitleChipGrid"
       [matChipInputSeparatorKeyCodes]="separatorKeysCodes2"
       [matChipInputAddOnBlur]="addOnBlur"
       (matChipInputTokenEnd)="addJobTitle($event.value)"
       [matAutocomplete]="autoJobTitle1"
       (input)="filterJobTitleSuggestions(input.value)">

       <mat-autocomplete #autoJobTitle1="matAutocomplete"  (optionSelected)="addJobtitleNameFromAuto($event)">
        <mat-option *ngFor="let jobTitle of filteredJobTitleSuggestions" [value]="jobTitle">
          {{ jobTitle }}
        </mat-option>
      </mat-autocomplete>

            </mat-chip-grid>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 30px; margin-left: 20px;">Exclude Job Title
          <input type="checkbox" (click)="ifclickjobtitle()"> </div>
        <mat-expansion-panel style="width: 200px;" *ngIf="checkforjobtitle">
          <mat-expansion-panel-header>
            <div style="display: inline-flex; flex-direction: row;">
              <mat-panel-title>Exclude Job Title</mat-panel-title>
              <span *ngIf="excludeJobTitles.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
               {{ excludeJobTitles.length }} <a  (click)="removeExcludeJobTitles()">×</a>
              </span>
          
            </div>
            
          
          </mat-expansion-panel-header>
          <div style="display: flex; align-items: center;">
            <mat-form-field >
              <mat-chip-grid #excludeJobTitleChipGrid aria-label="Enter excluded job title">
                <mat-chip-row *ngFor="let jobTitle of excludeJobTitles" (removed)="removeExcludeJobTitle(jobTitle)">
                  {{ jobTitle }}
                  <button matChipRemove><b>×</b></button>
                </mat-chip-row>
                <input #input5 placeholder="Add excluded job title..." class="excludeJobTitle"
                       [matChipInputFor]="excludeJobTitleChipGrid"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes3"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addExcludeJobTitle($event.value)"
                       [matAutocomplete]="autoJobTitle"
                       (input)="filterexcludeJobTitleSuggestions(input.value)">
                <mat-autocomplete #autoJobTitle="matAutocomplete" (optionSelected)="addExcludeJobtitleNameFromAuto($event)">
                  <mat-option *ngFor="let jobTitle of filteredexlcudeJobTitleSuggestions" [value]="jobTitle">
                    {{ jobTitle }}
                  </mat-option>
                </mat-autocomplete>
              </mat-chip-grid>
            </mat-form-field>
            
          </div>
        </mat-expansion-panel>
      </mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <div style="display: inline-flex; flex-direction: row;">
      <span *ngIf="selectedJobLevels.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
       {{ selectedJobLevels.length }} <a  (click)="removeAllselectedJobLevels()">×</a>
      </span>
    </div>
    <mat-panel-title>Job Level</mat-panel-title>
  </mat-expansion-panel-header>

  <div class="panel-content" id="panel2">
    
    <mat-form-field appearance="fill" class="jobLevel ">

      <mat-label>Job Level</mat-label>
      <mat-select [formControl]="jobLevelControl" multiple>
        <mat-select-trigger>
          <mat-chip-list>
            <mat-chip *ngFor="let level of selectedJobLevels" [removable]="true" (removed)="removeJobLevel(level)">
              {{ level }}
              <mat-icon matChipRemove><b>×</b></mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-select-trigger>
        <mat-option *ngFor="let level of jobLevelOptions" [value]="level">{{ level }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-expansion-panel>


      <!-- Job Level -->
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Job Level</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="panel-content" id="panel2">
          <div style="display: flex; align-items: center">
            <div class="form-field">
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelDirector"
                  [checked]="isCheckboxChecked('Director', 'Job_Level')"
                  (change)="toggleCheckbox('Director', 'Job_Level')"
                  name="include_job_level_director"
                />
                <label for="includejoblevel">Director</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelManager"
                  [checked]="isCheckboxChecked('Manager', 'Job_Level')"
                  (change)="toggleCheckbox('Manager', 'Job_Level')"
                  name="include_job_level_manager"
                />
                <label for="includejoblevel">Manager</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelVPLevel"
                  [checked]="isCheckboxChecked('VP Level', 'Job_Level')"
                  (change)="toggleCheckbox('VP Level', 'Job_Level')"
                  name="include_job_level_vp_level"
                />
                <label for="includejoblevel">VP Level</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelVicePresident"
                  [checked]="isCheckboxChecked('Vice President', 'Job_Level')"
                  (change)="toggleCheckbox('Vice President', 'Job_Level')"
                  name="include_job_level_vice_president"
                />
                <label for="includejoblevel">Vice President</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelCsuite"
                  [checked]="isCheckboxChecked('C suite', 'Job_Level')"
                  (change)="toggleCheckbox('C suite', 'Job_Level')"
                  name="include_job_level_c_suite"
                />
                <label for="includejoblevel">C Level</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelOwner"
                  [checked]="isCheckboxChecked('Owner', 'Job_Level')"
                  (change)="toggleCheckbox('Owner', 'Job_Level')"
                  name="include_job_level_owner"
                />
                <label for="includejoblevel">Owner</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelPartner"
                  [checked]="isCheckboxChecked('Partner', 'Job_Level')"
                  (change)="toggleCheckbox('Partner', 'Job_Level')"
                  name="include_job_level_partner"
                />
                <label for="includejoblevel">Partner</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelSenior"
                  [checked]="isCheckboxChecked('Senior', 'Job_Level')"
                  (change)="toggleCheckbox('Senior', 'Job_Level')"
                  name="include_job_level_senior"
                />
                <label for="includejoblevel">Senior</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelEntry"
                  [checked]="isCheckboxChecked('Entry', 'Job_Level')"
                  (change)="toggleCheckbox('Entry', 'Job_Level')"
                  name="include_job_level_entry"
                />
                <label for="includejoblevel">Entry</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelIntern"
                  [checked]="isCheckboxChecked('Intern', 'Job_Level')"
                  (change)="toggleCheckbox('Intern', 'Job_Level')"
                  name="include_job_level_intern"
                />
                <label for="includejoblevel">Intern</label>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel> -->

<!-- dropdown chips Job function-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div style="display: inline-flex; flex-direction: row;">
            <span *ngIf="selectedJobFunctions.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
             {{ selectedJobFunctions.length }} <a  (click)="removeAllselectedJobFunctions()">×</a>
            </span>
          </div>
          <mat-panel-title>Job function</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content" id="panel3">
          <mat-form-field class="jobFunction">
            <mat-label>Job Functions</mat-label>
            <mat-select [formControl]="jobFunctionControl" multiple>
              <mat-select-trigger>
                <mat-chip-list>
                  <mat-chip *ngFor="let function of selectedJobFunctions" [removable]="true" (removed)="removeFunction(function)">
                    {{ function }}
                    <mat-icon matChipRemove><b>×</b></mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>
              <mat-option *ngFor="let function of jobFunctionOptions" [value]="function">{{ function }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div class="panel-content" id="panel3">
          <div style="display: flex; align-items: center">
            <div class="form-field">
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionAny"
                  [checked]="isCheckboxChecked('Any', 'job_function')"
                  (change)="toggleCheckbox('Any', 'job_function')"
                  name="include_job_function_any"
                />
                <label for="includejobfunction">Any</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionConsulting"
                  [checked]="isCheckboxChecked('Consulting', 'job_function')"
                  (change)="toggleCheckbox('Consulting', 'job_function')"
                  name="include_job_function_consulting"
                />
                <label for="includejobfunction">Consulting</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionMarketing"
                  [checked]="isCheckboxChecked('Marketing', 'job_function')"
                  (change)="toggleCheckbox('Marketing', 'job_function')"
                  name="include_job_function_marketing"
                />
                <label for="includejobfunction">Marketing</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionC-Suite"
                  [checked]="isCheckboxChecked('c suite', 'job_function')"
                  (change)="toggleCheckbox('c suite', 'job_function')"
                  name="include_job_function_c_suite"
                />
                <label for="includejobfunction">C-Suite</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionEngineering&Technical"
                  [checked]="
                    isCheckboxChecked('Engineering & Technical', 'job_function')
                  "
                  (change)="
                    toggleCheckbox('Engineering & Technical', 'job_function')
                  "
                  name="include_job_function_engineering&technical"
                />
                <label for="includejobfunction">Engineering & Technical</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionDesign"
                  [checked]="isCheckboxChecked('Design', 'job_function')"
                  (change)="toggleCheckbox('Design', 'job_function')"
                  name="include_job_function_design"
                />
                <label for="includejobfunction">Design</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejoblevelEducation"
                  [checked]="isCheckboxChecked('Education', 'job_function')"
                  (change)="toggleCheckbox('Education', 'job_function')"
                  name="include_job_function_education"
                />
                <label for="includejoblevel">Education</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionFinance"
                  [checked]="isCheckboxChecked('Finance', 'job_function')"
                  (change)="toggleCheckbox('Finance', 'job_function')"
                  name="include_job_function_finance"
                />
                <label for="includejobfunction">Finance</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionHumanResources"
                  [checked]="
                    isCheckboxChecked('Human Resources', 'job_function')
                  "
                  (change)="toggleCheckbox('Human Resources', 'job_function')"
                  name="include_job_function_human_resources"
                />
                <label for="includejobfunction">Human Resources</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionInformationTechnology"
                  [checked]="
                    isCheckboxChecked('Information Technology', 'job_function')
                  "
                  (change)="
                    toggleCheckbox('Information Technology', 'job_function')
                  "
                  name="include_job_function_information_technology"
                />
                <label for="includejobfunction">Information Technology</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionLegal"
                  [checked]="isCheckboxChecked('Legal', 'job_function')"
                  (change)="toggleCheckbox('Legal', 'job_function')"
                  name="include_job_function_legal"
                />
                <label for="includejobfunction">Legal</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionMedical&Health"
                  [checked]="
                    isCheckboxChecked('Medical & Health', 'job_function')
                  "
                  (change)="toggleCheckbox('Medical & Health', 'job_function')"
                  name="include_job_function_medical&health"
                />
                <label for="includejobfunction">Medical & Health</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionOperations"
                  [checked]="isCheckboxChecked('Operations', 'job_function')"
                  (change)="toggleCheckbox('Operations', 'job_function')"
                  name="include_job_function_operation"
                />
                <label for="includejobfunction">Operations</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includejobfunctionSales"
                  [checked]="isCheckboxChecked('Sales', 'job_function')"
                  (change)="toggleCheckbox('Sales', 'job_function')"
                  name="include_job_function_sales"
                />
                <label for="includejobfunction">Sales</label>
              </div>
            </div>
          </div>
        </div> -->
      </mat-expansion-panel>
    </mat-expansion-panel>

    <!-- country -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div style="display: inline-flex; flex-direction: row;">
          <span *ngIf="includecountry.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
           {{ includecountry.length }} <a  (click)="removeincludeCountry()">×</a>
          </span>
        </div>
        <mat-panel-title>Country</mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; align-items: center">
        <mat-form-field class="example-chip-list">
          <mat-label>Country</mat-label>
          <mat-chip-grid #countryChipGrid aria-label="Enter country">
            <mat-chip-row *ngFor="let country of includecountry" (removed)="removeCountryChip(country)">
              {{ country }}
              <button matChipRemove><b>×</b></button>
            </mat-chip-row>
            <input  #input2 placeholder="Add country..."
       [matChipInputFor]="countryChipGrid"
       [matChipInputSeparatorKeyCodes]="separatorKeysCodes1"
       [matChipInputAddOnBlur]="addOnBlur"
       (matChipInputTokenEnd)="addCountry($event.value)"
       [matAutocomplete]="autoCountry"
      
       (input)="filterCountrySuggestions(input.value)">
       
<mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="addCountryNameFromAuto($event)">
  <mat-option *ngFor="let country of filteredCountrySuggestions" [value]="country">
    {{ country }}
  </mat-option>
</mat-autocomplete>

          </mat-chip-grid>
        </mat-form-field>
        
      </div>
      <div style="margin-bottom: 30px; margin-left: 20px;">Exclude Country
        <input type="checkbox" (click)="ifclickoncountry()"> </div>
      <mat-expansion-panel *ngIf="checkforcountry">
        <mat-expansion-panel-header>
          <div style="display: inline-flex; flex-direction: row;">
            <span *ngIf="excludeCountry.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
             {{ excludeCountry.length }} <a  (click)="removeExcludecountry()">×</a>
            </span>
          </div>
          <mat-panel-title>Exclude-Country</mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; align-items: center">
          <mat-form-field style="flex: 1">
            <mat-chip-grid #excludeCountryChipGrid aria-label="Enter excluded job title">
              <mat-chip-row *ngFor="let country of excludeCountry" (removed)="removeExcludeCountry(country)">
                {{ country }}
                <button matChipRemove><b>×</b></button>
              </mat-chip-row>
              <input #input3 placeholder="Add country..."
         [matChipInputFor]="excludeCountryChipGrid"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes1"
         [matChipInputAddOnBlur]="addOnBlur"
         (matChipInputTokenEnd)="addExcludecountry($event.value)"
         [matAutocomplete]="autoCountry"
        
         (input)="filterexcludecountrySuggestions(input.value)">
         
  <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="addExcludecountryNameFromAuto($event)">
    <mat-option *ngFor="let country of filteredexlcudecountrySuggestions" [value]="country">
      {{ country }}
    </mat-option>
  </mat-autocomplete>
            </mat-chip-grid>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Employee_Size</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-panel">
        <div class="panel-header" (click)="togglePanel('panel2')">
          <div class="panel-title">Employee Size</div>
        </div>
        <div class="panel-content" id="panel1">
          <div style="display: flex; align-items: center">
            <div class="form-field">
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize1-10"
                  [checked]="isCheckboxChecked('1-10', 'Employee_Size')"
                  (change)="toggleCheckbox('1-10', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize10001">1-10</label>
              </div>
              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize11-20"
                  [checked]="isCheckboxChecked('11-20', 'Employee_Size')"
                  (change)="toggleCheckbox('11-20', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">11-20</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize21-501"
                  [checked]="isCheckboxChecked('21-501', 'Employee_Size')"
                  (change)="toggleCheckbox('21-501', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">21-501</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize51-1001"
                  [checked]="isCheckboxChecked('201-500', 'Employee_Size')"
                  (change)="toggleCheckbox('201-500', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">201-500</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize101-2001"
                  [checked]="isCheckboxChecked('101-2001', 'Employee_Size')"
                  (change)="toggleCheckbox('101-2001', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">101-2001</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize201-5001"
                  [checked]="isCheckboxChecked('201-5001', 'Employee_Size')"
                  (change)="toggleCheckbox('201-5001', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">201-5001</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize501-10001"
                  [checked]="isCheckboxChecked('501-10001', 'Employee_Size')"
                  (change)="toggleCheckbox('501-10001', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">501-10001</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize1001-20001"
                  [checked]="isCheckboxChecked('1001-20001', 'Employee_Size')"
                  (change)="toggleCheckbox('1001-20001', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">1001-20001</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize2001-50001"
                  [checked]="isCheckboxChecked('2001-50001', 'Employee_Size')"
                  (change)="toggleCheckbox('2001-50001', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">2001-50001</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize5001-100001"
                  [checked]="isCheckboxChecked('5001-100001', 'Employee_Size')"
                  (change)="toggleCheckbox('5001-100001 ', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">5001-100001</label>
              </div>

              <div class="checkbox-label">
                <input
                  type="checkbox"
                  id="includeEmployeeSize10001+"
                  [checked]="isCheckboxChecked('10001+', 'Employee_Size')"
                  (change)="toggleCheckbox('10001+', 'Employee_Size')"
                  name="include_Employee_Size"
                />
                <label for="includeEmployeeSize201500">10001+</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel> -->
   <!-- dropdown with chips for employee size -->
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <div style="display: inline-flex; flex-direction: row;">
          <span *ngIf="selectedEmployeeSizes.length > 0" style="padding-left: 10px; padding-right: 9px; margin: 35px; border: 1px solid black; border-radius: 12px;">
           {{ selectedEmployeeSizes.length }} <a  (click)="removeselectedEmployeeSizes()">×</a>
          </span>
        </div>
        <mat-panel-title>Employee_Size</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Employee Size</mat-label>
        <mat-select [formControl]="employeeSizeControl" multiple>
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip *ngFor="let size of selectedEmployeeSizes" [removable]="true" (removed)="removeSize(size)">
                {{ size }}
                <mat-icon matChipRemove><b>×</b></mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option *ngFor="let size of employeeSizeOptions" [value]="size">{{ size }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    


    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Job function</mat-panel-title>
      </mat-expansion-panel-header>
    
      <div class="panel-content" id="panel3">
        <mat-form-field>
          <mat-label>Select Job Functions</mat-label>
          <mat-select [formControl]="jobFunctionControl" multiple>
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip *ngFor="let function of selectedJobFunctions" [removable]="true" (removed)="removeFunction(function)">
                  {{ function }}
                  <mat-icon matChipRemove><b>×</b></mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <mat-option *ngFor="let function of jobFunctionOptions" [value]="function">{{ function }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel> -->
   
    
    
    
    <!-- <mat-form-field class="example-chip-list">
      <mat-label>Company Name</mat-label>   
      <mat-chip-grid #CompanyNameChipGrid aria-label="Enter company name">
        <mat-chip-row *ngFor="let companyName of includeCompanyName"
                      (removed)="removeCompanyName(companyName)">
          {{ companyName }}
          <button matChipRemove><b>×</b></button>
        </mat-chip-row>
        <input placeholder="Add company name..."
               [matChipInputFor]="CompanyNameChipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addCompanyName($event)"
               [matAutocomplete]="auto">
      </mat-chip-grid>
    </mat-form-field>  -->

  </div>
 
 


 








