<!-- <div class="shadow bg-white p-3">
  <div><b>Change Email</b></div>
  <form  [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <mat-form-field>
      <mat-label>Enter your new password</mat-label>
      <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword">
      <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNew" name="newPassword">
        <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  <button class="btn btn-primary" type="submit" style="margin-left: 60px; background-color: #1f1e1e">Reset Password</button>
</form>
   <div><button class="btn btn-warning" (click)="resetPassword()" >Change Password</button></div> -->
<!-- </div>  -->
<div class="shadow bg-white p-3 box">
 <form  [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <mat-form-field >
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" required formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your current password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide current password'" [attr.aria-pressed]="hide" name="currentPassword">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your new password</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword">
    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNew" name="newPassword">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button class="btn btn-primary" type="submit" style="margin-left: 60px; background-color: #1f1e1e">Reset Password</button>
</form>
</div>