<div class="div grid" style="margin-top: 0px; margin-bottom: 0px; height: 990px;">
  <div
    class=" grid-item firstDiv"
    style="
      padding: 170px 379px 10px 375px;
      margin-left:px;
     background-color: rgb(238, 238, 238);
      width: 100%;
    
    "
  >
    <div style="margin-bottom: 25px; margin-top: 10px" routerLink="/main">
      <img
        src="./assets/data.png"
        style="margin-left: 90px; width: 70px"
      />
    </div>
    <div class="example-container justify-content-center" >
      <div style="padding-left: 50px; margin-bottom: 20px; display: inline-flex; flex-direction: row;">
        <span class="material-symbols-outlined" style="width: 30px; margin-left: 30px;">
          groups
        </span>
        <span style="font-weight: bolder; font-size: x-large">Login</span>
        <!-- <span class="material-symbols-outlined">
          login
          </span> -->
      </div>
      <form action="" [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()" class="form">
        <mat-form-field style="width: 250px">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            required
            formControlName="email"
            name="email"
          />
          <!-- <mat-error *ngIf="!email?.valid">please enter the valid email</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            name="password"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
       <div> <button
        class="btn btn-primary "
        type="submit"
        style="margin-left: 74px;margin-bottom: 10px; background-color: #1f1e1e"
      >
        Log in
      </button></div>
      <div style="margin-left: 120px;"> 
   
      <div class="w-full md:w-3/12 absolute right-0 left-0 p-1  my-36 mx-auto text-white rounded-lg bg-red">
       <!-- <h1 class="font-bold text-3xl py-4 text-dark">Google Signin</h1> -->
        <div id="google-btnn" ></div>
      </div>
         
    </div>
      </form>
      <div style="margin-left: 30px;">
   <button style="padding-left: 15px; margin-top: 6px; font-weight:bold;border-radius: 20px; background-color: rgb(253, 253, 252);" type="button" class="btn" routerLink="forgotPassword">Forgot Password?</button>
        <div style="padding-left: 13px; margin-top: 6px; margin-bottom: 10x; width: 179px;">
          Don't have an account?
          <div style="margin-left: 18px; ">
            <button type="button"   style="border-radius: 20px;font-weight:bold; background-color: rgb(253, 253, 252);color: #000;" class="btn "><a href="/signup">SignUp</a></button>
          </div>
        </div>
        <!-- <div style="padding-left: 50px; margin-top: 9px;"> API Login</div> -->
      </div>
    </div>
  </div>
  <div class="grid-item rightsideContent" style="padding-left:100px;padding-right: 100px; width:100%; height: 990px;">
    <div class="body">
      <div class="heading" style="margin-top: 220px;
      margin-left: 5px;
      font-weight: bold;
      font-size: 22px;
      ">
        Data Gateway is trusted by 200,000+ professionals worldwide.
      </div>

      <div class="carosel">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel">
          <div class="carousel-inner" style="margin-top: 10px;">
            <div class="carousel-item active">
              <i
                 style="line-height: 1.4; ">Prospecting can be a pain, and the last thing I need as a
                business owner is something that's complicated and a pain to
                setup. DataGateway was both easy to setup and easy for my team
                to understand. We're now building lead lists and growing our
                business.Thanks!</i
              >
              <div>
                <!-- <img class="d-block w-100" src="" alt="First slide" /> -->

                <div
                  style="
                    display: inline-flex;
                    flex-direction: row;
                    margin-top: 15px;
                    margin-left: 15px;
                  "
                >
              <img class="d-block " style="border-radius: 42px; width: 45px;"    src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Second slide" /> 

                  <div style="display: inline-flex; flex-direction: column; margin-right: 52px;">
                    <div>Marriana john</div>
                    <div style="font-weight: bold">Founder</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
           <div>   <i>
            I can do a single source or a an open feed on Linkedin on front
            in-Free as well as in paid platforms. You can build list
            easily and fast the data accurate and affordable.
          </i></div>
 
              <div
                style="
                  display: inline-flex;
                  flex-direction: row;
                  border-radius: 42px;
                  margin-top: 10px;
                "
              >
              <img class="d-block " style="border-radius: 42px; width: 45px;"    src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Second slide" /> 
                <div style="display: inline-flex; flex-direction: column;margin-right: 15px;">
                  Nick Sparrow
                  <div style="font-weight: bold">Director</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
            <p>  <i>
              You can build list easily and fast the
              data accurate and affordable.The leads
              list export function is excellent,and has helped with marketing
              to those who I have already qualified via LinkedIn.
            </i></p>
              <!-- <img class="d-block w-100" src="..." alt="Third slide" /> -->
              <div
                style="
                  display: inline-flex;
                  flex-direction: row;
                  border-radius: 42px;
                  margin-top: 15px;
                "
              >
              <img class="d-block " style="border-radius: 42px; width: 45px;"    src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Second slide" /> 

                <div style="display: inline-flex; flex-direction: column;padding-right: 10px;">
                  Jason Tissera
                  <div style="font-weight: bold; "> Co-Founder</div>
                </div>
               
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        // User is logged in and authorized
        var accessToken = response.authResponse.accessToken;
        // You can now make API calls using the access token
        console.log('Logged in and authorized');
      } else {
        // User is not logged in to Facebook or not authorized
        console.log('Not logged in or not authorized');
      }
    });
  }
</script>