.rightsideContent{
    background-color:whitesmoke;
}
.carosel{
    padding: 50px;
    width: 600px;
}



.grid{
    display: grid;
    grid-template-columns: 70% 40%;
    grid-template-rows: 1fr;
    column-gap: 0px;
  }
  
  
  @media screen and (max-width: 1992px){
    .grid{
       grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen  and (max-width:1243px) {
    .grid{
       grid-template-columns: repeat(1, 1fr);
    }
 
   
  } 
.right{
    padding-top: 290px;
    padding-left:60px;

}

.h2{
    margin-left: 71px;
}
  @media screen and (max-width:1243px) {
    .right{
        padding-top: 34px;
    }
  }

  @media screen  and (max-width:1243px) {
    .firstGrid{
     
       align-items: center;
    }
h2{
    margin-left:63px ;
}
 
  }

  @media screen and (max-width:1243px) {
    .firstGrid{
      text-align: center;
    }
    .h2{
        margin-right: 140px;
    }
    .resetP{
        margin-right: 140px;
    }
    .image{
        margin-right: 170px;
    }
    .haveAcc{
        margin-right: 100px;
    }
    /* .privacy{
       margin-right: 200px;
    } */
    .right{
        margin-right: 200px;
    }
  }

  .resetP{
    margin-left: 84px;
  }

  .image{
    margin-bottom: 25px; 
    margin-top: 10px
  }
  .haveAcc{
    margin-left: 54px;
  }

  .privacy{
    padding-left: 13px;
  }