<div style="margin: 20px;">

    <a (click)="closeUserDialog()" style="margin-left: 300px;color: gray; width: 123px; margin-top: px;"><b>×</b></a>
<p style="margin-top: 50px;"> Hi, {{userFirstName}}</p>

<div></div>
<mat-form-field class="example-full-width">
    <mat-label>Type here</mat-label>
    <input matInput placeholder="How can we help?" >
  </mat-form-field>
<mat-divider></mat-divider>

<div style="margin-top: 20px;"><div>Take a tour for people search</div><button (click)="tourGuide()" class="btn btn-light btn-outline-dark my-2"><i>lets started</i></button>

</div>

</div>

