<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!-- these are the logos of sidenav -->
    <div style="margin-bottom: 25px; margin-top: 10px" class="logo" routerLink="/login">
      <img
        src="./assets/vectorDB - white.svg"
        style=" margin-left: 0px; width: 50px"
      />
    </div>
    <div class="search">
      <div
        style="
          padding-bottom: 10px;
          padding-left: 15px;
          display: flex;
          flex-direction: row;
          margin-top: 90px;
        "
        class="hover"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
          routerLink="firstPage"
        ></mat-icon>
      </div>
      <mat-divider></mat-divider>
      <div
        style="padding-top: 25px; padding-bottom: 10px; padding-left: 15px;  cursor:default;"
        class="hover"
      >
        <span class="material-symbols-outlined" routerLink="search">
          Search
        </span>
      </div>
    </div>
    <div
      style="
        padding-bottom: 25px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        cursor:context-menu;
       
      "
      class="hover"
    >
      <span class="material-symbols-outlined" routerLink="dataEnrichment"> Autostop </span>
    </div>
    <mat-divider></mat-divider>
    <div
      style="
        padding-left: 20px;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        cursor:default;
      "
      class="hover"
    >
      <span class="material-symbols-outlined"> Mail </span>
    </div>
    <div
      style="
        padding-bottom: 15px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        cursor:context-menu;
      "
      class="hover"
    >
      <span class="material-symbols-outlined"> Call </span>
    </div>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content style="margin-left: 110px">
    <div id="main">
      <!-- horizontal navbar -->
      <div class="commondiv"> <button class="openbtn" (click)="openNav()">☰</button>
        <div class="navbarr">
          <nav
            class="navbar navbar-expand-lg navbar-light justify-content-between">
            <a
              class="navbar-brand mx-3 text"
              style="font-weight: bold; color: rgb(70, 49, 26)"
            ></a>
            <!-- <button class="navbar-toggler" type="button" (click)="toggleNavbar()"> -->
              <!-- <span class="navbar-toggler-icon"></span>
            </button> -->
            <div
              [ngClass]="{ collapse: isNavbarCollapsed, 'navbar-collapse': true }"
              id="navbarResponsive"
            >
            
           <form class="form-inline my-2 my-lg-0 form" (submit)="performSearch()">
        
  <div class="d-flex flex-row">
    <div class="search-icon">
      <i class="fas fa-search"></i>
    </div>
    <input
      class="form-control mr-sm-2 search-input"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="searchInput"
    />
    <button
      class="btn btn-outline-warning my-2 my-sm-0 searchBtn"
      type="submit"
    >
      Search
    </button>
  </div>
</form>

              <div class="d-flex align-items-center right">
                <button class="symboll " style="margin-left: 10px;" mat-icon-button (click)="openUserDialog()">
                  <span class="material-symbols-outlined  noti">notifications</span>
                </button>
                <button  style="border: 0.5px solid rgb(224, 221, 221); padding: 10px; background-color:#0c4471;color: white;
                border-radius: 100px;"   [matMenuTriggerFor]="avatarMenu" class="mx-3 hoverr dropdownbtn">{{ userFirstName[0] | titlecase}}{{ userLastName[0] | titlecase }}
                   
                </button>

                <mat-menu #avatarMenu="matMenu" style="background-color: blue;" >
                  <span style="padding-left: 10px;"
                    >{{ userFirstName | titlecase }}
                    {{ userLastName | titlecase }}</span
                  >
                  <div style="padding-left: 10px" >
                    <span
                      mat-button
                      disabled
                      style="background-color: rgb(231, 227, 227)"
                      >Admin</span
                    >
                  </div>
                  <button mat-menu-item>
                    <span class="material-symbols-outlined" routerLink="myProfile"
                      >account_circle
                    </span>
                    <span routerLink="myProfile">My profile</span>
                  </button>
                  <button mat-menu-item>
                    <span class="material-symbols-outlined">settings</span
                    >Settings
                  </button>
                  <button mat-menu-item (click)="logout()">
                    <span class="material-symbols-outlined" (click)="logout()"
                      >logout</span
                    >Logout
                  </button>
                </mat-menu>
              </div>
            </div>
          </nav>
        </div></div>
     
      <mat-divider class="shadow"></mat-divider>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<div>
  <div id="mySidebar" class="sidebar">
        <!-- sidenav logos name -->
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <div class="search">
      <div
        style="
          padding-bottom: 10px;
          padding-left: 3px;
          display: flex;
          flex-direction: row;
          margin-top: 91px;
          
        "
        class="hover"
      >
        <b
          routerLink="firstPage"
          style="margin-top: -18px; margin-left: 4px; margin-bottom: 10px;"
          >Home</b
        >
      </div>
      <mat-divider></mat-divider>
      <div
        style="padding-top: 25px; padding-bottom: 10px; padding-left: 10px"
        class="hover"
      >
        <b style="margin-top: 4px; margin-left: 4px" routerLink="search"
          >Search</b
        >
      </div>
    </div>
    <div
      style="
        padding-bottom: 35px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
      "
      class="hover"
    >
      <b style="margin-top: 4px; margin-right:10px" >Data Enrichment</b>
    </div>
    <mat-divider></mat-divider>
    <div
      style="
        padding-left: 20px;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
      "
      class="hover"
    >
      <b style="margin-top: 4px; margin-left: 4px">Emails</b>
    </div>
    <div
      style="
        padding-bottom: 15px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
      "
      class="hover"
    >
      <b style="margin-top: 4px; margin-left: 4px">Calls</b>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
