.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffe4a3;
  background-size: cover;
  padding: 226px 0px 120px 0px;
  position: relative;
  overflow: hidden;
}

.main-banner:after {
  content: '';
  background-image: url(https://app.datagateway.in/assets/baner-dec-left.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 100px;
  width: 193px;
  height: 467px;
}

.main-banner:before {
  content: '';
  background-image: url(https://app.datagateway.in/assets/baner-dec-right.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 100px;
  width: 98px;
  height: 290px;
}

.main-banner .left-content {
  margin-right: 45px;
}

.main-banner .left-content h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fe3f40;
  margin-bottom: 15px;
}

.main-banner .left-content h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 72px;
}

.main-banner .left-content h2 em {
  color: #03a4ed;
  font-style: normal;
}

.main-banner .left-content h2 span {
  color: #fe3f40;
}

.main-banner .left-content p {
  margin: 20px 0px;
}

.main-banner .left-content form {
  margin-top: 30px;
  width: 470px;
  height: 66px;
  position: relative;
}

.main-banner .left-content form button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  background-color: #000000;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  outline: none;
  border: none;
}

.main-banner .left-content form input {
  width: 470px;
  height: 66px;
  background-color: #ffffff;
  border-radius: 33px;
  border: none;
  outline: none;
  padding: 0px 25px;
  color: #000000;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: 300;
}

.main-banner .left-content form input::placeholder {
  color: #000000;
}
.main-button{
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: #fe3f40;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  outline: none;
  border: none;
}


.main-banner .left-content form fieldset {
  margin-top: 20px;
}

.main-banner .left-content form input[type=checkbox] {
  position: relative;
	border: 2px solid #000;
	border-radius: 2px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 .6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 20px;
	width: 20px;
	/* -webkit-appearance: none; */
  opacity: .5;
}

.main-banner .left-content form input[type=checkbox]:hover {
  opacity: 1;
}

.main-banner .left-content form input[type=checkbox]:checked {
  background-color: #000;
  opacity: 1;
}

.main-banner .left-content form input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.main-banner .left-content form label {
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}
.main-banner .left-content form .error-message{
  padding: 20px 30px;
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.main-banner .left-content form .success-message{
    padding: 20px 30px;
    color: #007006;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
  }

  .main-banner .left-content form .checkbox-fieldset {
    display: flex;
    align-items: center;
  }

  .main-banner .left-content form label {
    margin-left: 8px; 
  }



 .main-banner .left-content p { 
    display: flex; 
    flex-direction: row; 
    margin-top: 80px;
} 
  
.main-banner .left-content p:before, 
p:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 1px solid #000; 
    margin: auto; 
} 