
<!-- <h3 style="margin-left: 10px; margin-top: 10px;"> <span class="material-symbols-outlined " >
  grid_view
  </span> 
  Dashboard
</h3> 

<div class="row" style="margin-left: 50px;">
<mat-card class="col-7" style="width: 40%;margin-right: 0px; margin-left: 250px; margin-top: 30px; ">
  <mat-card-content>User Activity</mat-card-content>
  <mat-form-field style="width: 250px;">
    <mat-label>Select duration</mat-label>
    <mat-select (selectionChange)="changeActivityDuration($event.value)">
      <mat-option value="7">Last 7 days</mat-option>
      <mat-option value="15">Last 15 days</mat-option>
      <mat-option value="30">Last 30 days</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div id="chart"></div>
  
  
</mat-card>
</div> -->



<mat-card style="width: 100%;">
  <div id="chart2" class="div"> 
    <mat-card-content style="font-size: 1.5em;"></mat-card-content>
  </div>
</mat-card>














