<div class="div">
  <h2 class="my-2 title">Countries and Job Title Data </h2>
  <div class="row mainclass">
    <div class="col-lg-6 col-md-12">
      <mat-card> 
        <div id="chart"  style="padding: 50px;" >
          <mat-card-content style="font-weight: bold;">Available Country Data</mat-card-content>
        </div> 
      </mat-card>
    </div>
  
    <div class="col-lg-6 col-md-12">
      <mat-card>
        <div id="chart2" style="padding: 50px;">
          <mat-card-content style="font-weight: bold;">Job Titles Data</mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>  
</div>








  