<!-- <div class="maindiv">
    <div class="firstdiv sm-p-0" ><h1>Find and convert the perfect leads</h1>
        <div class="">Find, contact, and close your ideal buyers with over 265M contacts and streamlined engagement workflows powered by AI.</div>

        <button type="button" class="btn  mx-2 my-3 signupButton"  routerLink="/signup">Sign up for free</button>
        <button type="button" class="btn btn-outline-secondary mx-2 requestdemoButton" routerLink="/requestDemo">Request a demo </button>
    </div>
    <div class="secondiv"><div class="card my-3" style="width: 800px; ">
      <div>
        <div class="uk-overflow-hidden">
            <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&w=1600" width="1900" height="1900" alt="Example image" class="uk-animation-reverse uk-transform-origin-top-right" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
        </div>
    </div>
      </div></div>
</div> -->

<!-- <app-search-people></app-search-people> -->

 <!-- <div>
  <h1>Salary Slip Calculator</h1>
  <form (ngSubmit)="calculateSalary()" #salaryForm="ngForm">
    <label for="basicSalary">Basic Salary:</label>
    <input type="number" id="basicSalary" name="basicSalary" [(ngModel)]="basicSalary" required><br>

    <label for="houseRentAllowance">House Rent Allowance:</label>
    <input matInput type="number" id="houseRentAllowance" name="houseRentAllowance" [(ngModel)]="houseRentAllowance" required><br>

    <label for="conveyanceAllowance">Conveyance Allowance:</label>
    <input type="number" id="conveyanceAllowance" name="conveyanceAllowance" [(ngModel)]="conveyanceAllowance" required><br>

    <label for="childEducationAllowance">ChildEducation Allowance</label>
    <input type="number" id="childEducationAllowance" name="childEducationAllowance" [(ngModel)]="childEducationAllowance" required><br>

    <label for="cityCompAllowance">Conveyance Allowance:</label>
    <input type="number" id="cityCompAllowance" name="cityCompAllowance" [(ngModel)]="cityCompAllowance" required><br>

    <label for="medicalAllowance">Conveyance Allowance:</label>
    <input type="number" id="medicalAllowance" name="medicalAllowance" [(ngModel)]="medicalAllowance" required><br>

    <label for="arrears">Conveyance Allowance:</label>
    <input type="number" id="arrears" name="arrears" [(ngModel)]="arrears" required><br>
   
    <label for="profTax">Prof Tax:</label>
    <input type="number" id="profTax" name="profTax" [(ngModel)]="profTax" required><br>

    <label for="incomeTax">Income Tax:</label>
    <input type="number" id="incomeTax" name="incomeTax" [(ngModel)]="incomeTax" required><br>

    <button type="submit">Calculate Salary</button>
  </form>

  <div type="button" class="btn btn-check" *ngIf="showSalarySlip">
    <h2>Salary Slip</h2>
    <p>Your calculated salary is: {{ calculatedSalary }}</p>
  </div>
</div>  -->


<div class="grid">
<div  class="grid-item"  style="padding-left:200px;padding-top: 400px; width: 100%; height: 990px; background-color: rgb(238, 238, 238);">

<h1 style="font-weight: bolder; font-size: x-large;">Sign up for DataGateway</h1>
<p style="line-height: 1.6;">Discover, engage, and seal the deal with your perfect prospects, armed with a treasure trove of over 275 million contacts and turbocharged engagement strategies driven by AI innovation.</p>
<form (ngSubmit)="submitForm()" #signupForm="ngForm" class="my-3">
  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" [(ngModel)]="email" required pattern="^(?!.*@(gmail\.com|hotmail\.com|outlook\.com|live\.com|msn\.com)$).*$">
    <mat-error *ngIf="signupForm.controls['email'].errors && signupForm.controls['email'].errors['required']">
      Email is required.
    </mat-error>
    <mat-error *ngIf="signupForm.controls['email'].errors && signupForm.controls['email'].errors['pattern']">
      Please enter a valid corporate email address.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid" style="padding: 27px;">Sign Up</button>
  <section class="example-section">
    <input type="checkbox" class="example-margin"> By signing up, I agree to DataGateway's Terms of Service and Privacy Policy.
  </section>
 

</form>
  </div>
  <div class="grid-item rightsideContent" style="padding-top:385px;padding-left: 50px; width: 100%; height: 990px;">
    
    <div class="body">
      <div class="heading" style="padding: 11px;
      font-size:x-large;
      font-weight: bold;
      ">
        Data Gateway is trusted by 200,000+ professionals worldwide.
      </div>

      <div class="carosel" style="margin-left:  20px; ">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <i
                 style="line-height: 1;">Prospecting can be a pain, and the last thing I need as a
                business owner is something that's complicated and a pain to
                setup. DataGateway was both easy to setup and easy for my team
                to understand. We're now building lead lists and growing our
                business. Thanks!</i
              >
              <div>
                <!-- <img class="d-block w-100" src="" alt="First slide" /> -->

                <div
                  style="
                    display: inline-flex;
                    flex-direction: row;
                    margin-top: 15px;
                    margin-left: 15px;
                  "
                >
              <img class="d-block " style="border-radius: 42px; width: 45px;"    src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Second slide" /> 

                  <div style="display: inline-flex; flex-direction: column; margin-right: 52px;">
                    <div>Marriana john</div>
                    <div style="font-weight: bold">Founder</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
           <div>   <i>
            I can do a single source or a an open feed on Linkedin on front
            in-Free as well as in paid platforms. You can build list
            easily and fast the data accurate and affordable.
          </i></div>
 
              <div
                style="
                  display: inline-flex;
                  flex-direction: row;
                  border-radius: 42px;
                  margin-top: 10px;
                "
              >
              <img class="d-block " style="border-radius: 42px; width: 45px;"    src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Second slide" /> 
                <div style="display: inline-flex; flex-direction: column;margin-right: 15px;">
                  Nick Sparrow
                  <div style="font-weight: bold">Director</div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <i>
                As in paid platforms. You can build list easily and fast the
                data accurate and affordable. Cite Tammie McDaniel Business
                Advisor Company Very easy to use, intuitive, seamless. The leads
                list export function is excellent, and has helped with marketing
                to those who I have already qualified via LinkedIn.
              </i>
              <!-- <img class="d-block w-100" src="..." alt="Third slide" /> -->
              <div
                style="
                  display: inline-flex;
                  flex-direction: row;
                  border-radius: 42px;
                  margin-top: 15px;
                "
              >
              <img class="d-block " style="border-radius: 42px; width: 45px;"    src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Second slide" /> 

                <div style="display: inline-flex; flex-direction: column;padding-right: 10px;">
                  Jason Tissera
                  <div style="font-weight: bold; "> Co-Founder</div>
                </div>
               
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
 
   </div>
</div>





<!-- 
<div>
  <ngx-extended-pdf-viewer [src]="pdfPath"></ngx-extended-pdf-viewer>
</div>

 -->


